h1 {
  text-align: center;
  color: red;
}

.wiz {
  width: 80%;
  background-color: darkred;
  color: white;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.form {
    text-align: center;
}